<!doctype html>
<head>
	<title>Memeoizer</title>
	<link rel='stylesheet' type='text/css' href='static/css/index.css'>
</head>
<body>
	<div id='background-container'>
	</div>
	<div id='foreground-container'>
		<div id='banner'>
			<div id='title'>
				<p>{{ title }}</p>
			</div>
			<div id='menu'>
				<ul>
					<li><a href='/'>Index</a></li>
					<li><a href='/upload'>Memeoizer</a></li>
				</ul>
			</div>
		</div>
		<div>
			<h1>Memeoizer</h1>
			<h3>A Picture Is Worth A Thousand Words</h3>
		</div>
		<div id='user-info'>
			<p>You are end user.</p>
		</div>
	</div>
</body>